:root {
  --font-size-xl: 24px;
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;

  --color-yellow: #ffc75f;
  --color-white: #fff;
  --color-smoke: whitesmoke;
}
